NiFi_example.json
{"flowContents":{"identifier":"7c768dbe-e21f-3dc5-80b1-31d09d7e433e","instanceIdentifier":"d6d81f9a-018a-1000-f7db-736d45b0f60a","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"52410d80-45a6-351c-b84c-d0d8b5657dcb","instanceIdentifier":"d710af1d-018a-1000-cd6d-fbb2a0ca5764","name":"ConsumeKafkaRecord_2_6","comments":"","position":{"x":248.0,"y":0.0},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.23.2"},"properties":{"header-name-regex":null,"Commit Offsets":"true","output-strategy":"USE_VALUE","record-writer":"026ddeef-65f5-3c84-aaab-036f3c45aa9b","group.id":"nifi-consumer","bootstrap.servers":"ip-172-31-21-28.ec2.internal:9092","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"GSSAPI","honor-transactions":"true","record-reader":"5d79c48b-b346-3160-9354-8eab649fa9a4","kerberos-user-service":null,"message-header-encoding":"UTF-8","key-format":"byte-array","sasl.username":null,"max.poll.records":"10000","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"key-record-reader":null,"sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"weather-events","separate-by-key":"false","key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false},"output-strategy":{"name":"output-strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Value Writer","identifiesControllerService":true,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Value Record Reader","identifiesControllerService":true,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"key-format":{"name":"key-format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"key-record-reader":{"name":"key-record-reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["parse.failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7c768dbe-e21f-3dc5-80b1-31d09d7e433e"},{"identifier":"0bc904eb-7a36-36a1-be73-227e928b0ff8","instanceIdentifier":"d71a555f-018a-1000-a318-282ed633a489","name":"EvaluateJsonPath","comments":"","position":{"x":544.0,"y":240.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","name":"$.name","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"name":{"name":"name","displayName":"name","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7c768dbe-e21f-3dc5-80b1-31d09d7e433e"},{"identifier":"46925c52-1bfc-3c45-902e-94049fe687d5","instanceIdentifier":"d72107cb-018a-1000-dbaf-7fae9f995945","name":"PutHDFS","comments":"","position":{"x":744.0,"y":8.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.23.2"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/home/ec2-user/hadoop-3.3.6/etc/hadoop/core-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"writing-strategy":"writeAndRename","Kerberos Relogin Period":"4 hours","Directory":"/weather/nifi/${name}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7c768dbe-e21f-3dc5-80b1-31d09d7e433e"},{"identifier":"7f23a2a3-355d-3063-a4c8-b24ca236c812","instanceIdentifier":"d7140b26-018a-1000-db3c-61479e9f968a","name":"DebugFlow","comments":"","position":{"x":1216.0,"y":208.0},"type":"org.apache.nifi.processors.standard.DebugFlow","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Write Iterations":"0","No FlowFile Skip Iterations":"1","No FlowFile Exception Iterations":"0","Fail When @OnUnscheduled called":"false","No FlowFile Yield Iterations":"0","FlowFile Failure Iterations":"0","CustomValidate Pause Time":"0 sec","@OnScheduled Pause Time":"0 sec","Fail When @OnStopped called":"false","FlowFile Rollback Penalty Iterations":"0","Content Size":"1 KB","FlowFile Rollback Yield Iterations":"0","FlowFile Rollback Iterations":"0","No FlowFile Exception Class":"java.lang.RuntimeException","Ignore Interrupts When Paused":"false","Fail When @OnScheduled called":"false","@OnUnscheduled Pause Time":"0 sec","FlowFile Exception Iterations":"0","FlowFile Success Iterations":"1","@OnStopped Pause Time":"0 sec","FlowFile Exception Class":"java.lang.RuntimeException","OnTrigger Pause Time":"0 sec"},"propertyDescriptors":{"Write Iterations":{"name":"Write Iterations","displayName":"Write Iterations","identifiesControllerService":false,"sensitive":false},"No FlowFile Skip Iterations":{"name":"No FlowFile Skip Iterations","displayName":"No FlowFile Skip Iterations","identifiesControllerService":false,"sensitive":false},"No FlowFile Exception Iterations":{"name":"No FlowFile Exception Iterations","displayName":"No FlowFile Exception Iterations","identifiesControllerService":false,"sensitive":false},"Fail When @OnUnscheduled called":{"name":"Fail When @OnUnscheduled called","displayName":"Fail When @OnUnscheduled called","identifiesControllerService":false,"sensitive":false},"No FlowFile Yield Iterations":{"name":"No FlowFile Yield Iterations","displayName":"No FlowFile Yield Iterations","identifiesControllerService":false,"sensitive":false},"FlowFile Failure Iterations":{"name":"FlowFile Failure Iterations","displayName":"FlowFile Failure Iterations","identifiesControllerService":false,"sensitive":false},"CustomValidate Pause Time":{"name":"CustomValidate Pause Time","displayName":"CustomValidate Pause Time","identifiesControllerService":false,"sensitive":false},"@OnScheduled Pause Time":{"name":"@OnScheduled Pause Time","displayName":"@OnScheduled Pause Time","identifiesControllerService":false,"sensitive":false},"Fail When @OnStopped called":{"name":"Fail When @OnStopped called","displayName":"Fail When @OnStopped called","identifiesControllerService":false,"sensitive":false},"FlowFile Rollback Penalty Iterations":{"name":"FlowFile Rollback Penalty Iterations","displayName":"FlowFile Rollback Penalty Iterations","identifiesControllerService":false,"sensitive":false},"Content Size":{"name":"Content Size","displayName":"Content Size","identifiesControllerService":false,"sensitive":false},"FlowFile Rollback Yield Iterations":{"name":"FlowFile Rollback Yield Iterations","displayName":"FlowFile Rollback Yield Iterations","identifiesControllerService":false,"sensitive":false},"FlowFile Rollback Iterations":{"name":"FlowFile Rollback Iterations","displayName":"FlowFile Rollback Iterations","identifiesControllerService":false,"sensitive":false},"No FlowFile Exception Class":{"name":"No FlowFile Exception Class","displayName":"No FlowFile Exception Class","identifiesControllerService":false,"sensitive":false},"Ignore Interrupts When Paused":{"name":"Ignore Interrupts When Paused","displayName":"Ignore Interrupts When Paused","identifiesControllerService":false,"sensitive":false},"Fail When @OnScheduled called":{"name":"Fail When @OnScheduled called","displayName":"Fail When @OnScheduled called","identifiesControllerService":false,"sensitive":false},"@OnUnscheduled Pause Time":{"name":"@OnUnscheduled Pause Time","displayName":"@OnUnscheduled Pause Time","identifiesControllerService":false,"sensitive":false},"FlowFile Exception Iterations":{"name":"FlowFile Exception Iterations","displayName":"FlowFile Exception Iterations","identifiesControllerService":false,"sensitive":false},"FlowFile Success Iterations":{"name":"FlowFile Success Iterations","displayName":"FlowFile Success Iterations","identifiesControllerService":false,"sensitive":false},"@OnStopped Pause Time":{"name":"@OnStopped Pause Time","displayName":"@OnStopped Pause Time","identifiesControllerService":false,"sensitive":false},"FlowFile Exception Class":{"name":"FlowFile Exception Class","displayName":"FlowFile Exception Class","identifiesControllerService":false,"sensitive":false},"OnTrigger Pause Time":{"name":"OnTrigger Pause Time","displayName":"OnTrigger Pause Time","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7c768dbe-e21f-3dc5-80b1-31d09d7e433e"},{"identifier":"095fda34-877c-3934-bd4b-4a5ba05c78cd","instanceIdentifier":"d71459a5-018a-1000-ca8f-8ba106e62388","name":"DebugFlow","comments":"","position":{"x":1408.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.DebugFlow","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Write Iterations":"0","No FlowFile Skip Iterations":"1","No FlowFile Exception Iterations":"0","Fail When @OnUnscheduled called":"false","No FlowFile Yield Iterations":"0","FlowFile Failure Iterations":"0","CustomValidate Pause Time":"0 sec","@OnScheduled Pause Time":"0 sec","Fail When @OnStopped called":"false","FlowFile Rollback Penalty Iterations":"0","Content Size":"1 KB","FlowFile Rollback Yield Iterations":"0","FlowFile Rollback Iterations":"0","No FlowFile Exception Class":"java.lang.RuntimeException","Ignore Interrupts When Paused":"false","Fail When @OnScheduled called":"false","@OnUnscheduled Pause Time":"0 sec","FlowFile Exception Iterations":"0","FlowFile Success Iterations":"1","@OnStopped Pause Time":"0 sec","FlowFile Exception Class":"java.lang.RuntimeException","OnTrigger Pause Time":"0 sec"},"propertyDescriptors":{"Write Iterations":{"name":"Write Iterations","displayName":"Write Iterations","identifiesControllerService":false,"sensitive":false},"No FlowFile Skip Iterations":{"name":"No FlowFile Skip Iterations","displayName":"No FlowFile Skip Iterations","identifiesControllerService":false,"sensitive":false},"No FlowFile Exception Iterations":{"name":"No FlowFile Exception Iterations","displayName":"No FlowFile Exception Iterations","identifiesControllerService":false,"sensitive":false},"Fail When @OnUnscheduled called":{"name":"Fail When @OnUnscheduled called","displayName":"Fail When @OnUnscheduled called","identifiesControllerService":false,"sensitive":false},"No FlowFile Yield Iterations":{"name":"No FlowFile Yield Iterations","displayName":"No FlowFile Yield Iterations","identifiesControllerService":false,"sensitive":false},"FlowFile Failure Iterations":{"name":"FlowFile Failure Iterations","displayName":"FlowFile Failure Iterations","identifiesControllerService":false,"sensitive":false},"CustomValidate Pause Time":{"name":"CustomValidate Pause Time","displayName":"CustomValidate Pause Time","identifiesControllerService":false,"sensitive":false},"@OnScheduled Pause Time":{"name":"@OnScheduled Pause Time","displayName":"@OnScheduled Pause Time","identifiesControllerService":false,"sensitive":false},"Fail When @OnStopped called":{"name":"Fail When @OnStopped called","displayName":"Fail When @OnStopped called","identifiesControllerService":false,"sensitive":false},"FlowFile Rollback Penalty Iterations":{"name":"FlowFile Rollback Penalty Iterations","displayName":"FlowFile Rollback Penalty Iterations","identifiesControllerService":false,"sensitive":false},"Content Size":{"name":"Content Size","displayName":"Content Size","identifiesControllerService":false,"sensitive":false},"FlowFile Rollback Yield Iterations":{"name":"FlowFile Rollback Yield Iterations","displayName":"FlowFile Rollback Yield Iterations","identifiesControllerService":false,"sensitive":false},"FlowFile Rollback Iterations":{"name":"FlowFile Rollback Iterations","displayName":"FlowFile Rollback Iterations","identifiesControllerService":false,"sensitive":false},"No FlowFile Exception Class":{"name":"No FlowFile Exception Class","displayName":"No FlowFile Exception Class","identifiesControllerService":false,"sensitive":false},"Ignore Interrupts When Paused":{"name":"Ignore Interrupts When Paused","displayName":"Ignore Interrupts When Paused","identifiesControllerService":false,"sensitive":false},"Fail When @OnScheduled called":{"name":"Fail When @OnScheduled called","displayName":"Fail When @OnScheduled called","identifiesControllerService":false,"sensitive":false},"@OnUnscheduled Pause Time":{"name":"@OnUnscheduled Pause Time","displayName":"@OnUnscheduled Pause Time","identifiesControllerService":false,"sensitive":false},"FlowFile Exception Iterations":{"name":"FlowFile Exception Iterations","displayName":"FlowFile Exception Iterations","identifiesControllerService":false,"sensitive":false},"FlowFile Success Iterations":{"name":"FlowFile Success Iterations","displayName":"FlowFile Success Iterations","identifiesControllerService":false,"sensitive":false},"@OnStopped Pause Time":{"name":"@OnStopped Pause Time","displayName":"@OnStopped Pause Time","identifiesControllerService":false,"sensitive":false},"FlowFile Exception Class":{"name":"FlowFile Exception Class","displayName":"FlowFile Exception Class","identifiesControllerService":false,"sensitive":false},"OnTrigger Pause Time":{"name":"OnTrigger Pause Time","displayName":"OnTrigger Pause Time","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7c768dbe-e21f-3dc5-80b1-31d09d7e433e"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"2bc21899-e209-38d3-b3c4-02e5698d57d3","instanceIdentifier":"d71a8848-018a-1000-964b-ed3a2085455a","name":"","source":{"id":"52410d80-45a6-351c-b84c-d0d8b5657dcb","type":"PROCESSOR","groupId":"7c768dbe-e21f-3dc5-80b1-31d09d7e433e","name":"ConsumeKafkaRecord_2_6","comments":"","instanceIdentifier":"d710af1d-018a-1000-cd6d-fbb2a0ca5764"},"destination":{"id":"0bc904eb-7a36-36a1-be73-227e928b0ff8","type":"PROCESSOR","groupId":"7c768dbe-e21f-3dc5-80b1-31d09d7e433e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d71a555f-018a-1000-a318-282ed633a489"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7c768dbe-e21f-3dc5-80b1-31d09d7e433e"},{"identifier":"2e97293f-e397-3dc0-83b9-ded2a2803c70","instanceIdentifier":"d726aecc-018a-1000-a085-d5d0f55470cd","name":"","source":{"id":"46925c52-1bfc-3c45-902e-94049fe687d5","type":"PROCESSOR","groupId":"7c768dbe-e21f-3dc5-80b1-31d09d7e433e","name":"PutHDFS","comments":"","instanceIdentifier":"d72107cb-018a-1000-dbaf-7fae9f995945"},"destination":{"id":"095fda34-877c-3934-bd4b-4a5ba05c78cd","type":"PROCESSOR","groupId":"7c768dbe-e21f-3dc5-80b1-31d09d7e433e","name":"DebugFlow","comments":"","instanceIdentifier":"d71459a5-018a-1000-ca8f-8ba106e62388"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7c768dbe-e21f-3dc5-80b1-31d09d7e433e"},{"identifier":"e2d77a97-c8a3-3ddd-aa58-fd9f5c5cdc1d","instanceIdentifier":"d723dd89-018a-1000-e7a5-d6c2848e68e5","name":"","source":{"id":"0bc904eb-7a36-36a1-be73-227e928b0ff8","type":"PROCESSOR","groupId":"7c768dbe-e21f-3dc5-80b1-31d09d7e433e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d71a555f-018a-1000-a318-282ed633a489"},"destination":{"id":"46925c52-1bfc-3c45-902e-94049fe687d5","type":"PROCESSOR","groupId":"7c768dbe-e21f-3dc5-80b1-31d09d7e433e","name":"PutHDFS","comments":"","instanceIdentifier":"d72107cb-018a-1000-dbaf-7fae9f995945"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7c768dbe-e21f-3dc5-80b1-31d09d7e433e"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"026ddeef-65f5-3c84-aaab-036f3c45aa9b","instanceIdentifier":"d71730f2-018a-1000-8d5e-66b7fa37254f","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7c768dbe-e21f-3dc5-80b1-31d09d7e433e"},{"identifier":"5d79c48b-b346-3160-9354-8eab649fa9a4","instanceIdentifier":"d71711c3-018a-1000-57b9-2fad3749da2f","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7c768dbe-e21f-3dc5-80b1-31d09d7e433e"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}